@page "/booking/room/{RoomId:int}"

<h3>BookingPage</h3>
@if (RoomId > 0)
{
    <p>Информации пока нет...</p>
}
else
{
    <p><em>Что за дела, почему тут такой параметр</em></p>
}

@code {
    [Parameter]
    public int RoomId { get; set; }
}
